mixin nav-content()
	ul
		li: a(href="#about") About
		li: a(href="#section-articles") Journals
		li: a(href="#section-mentoring") Teaching
		li: a(href="#section-youtube") Youtube
		li: a(href="#section-podcast") Music
		li: a(href="#section-notes") Sign-up
		li: a(href="#contact") Contact

.mobile-nav
	+nav-content()

header
	.header-position
		h1.logo James Weber

		nav.site-nav
			+nav-content()

		a(href="mailto:joweber123@gmail.com").email-link +email me

		.mobile-nav-toggle: span
