mixin face
	li.face
		.bubble
			p I think that James is a swell guy!
			cite - Chika Weber

section.mentoring#section-mentoring
	.flex.flex--center
		.col-1
			ul.faces
				li.face.face1
					.bubble
						p He's a great teacher and has a good vocabulary, he gave me some recommendations about my pronunciation and vocabulary, some tips for learning, he's a very very professional teacher
						cite - Danilo
				li.face.face2
					.bubble
						p James is a great teacher!!! He gives me a lot of great advices for my interview.
						cite - Kuan Yao
				li.face.face3
					.bubble
						p James is an excellent teacher. I really enjoyed taking to him. Definitely, I would take more sessions with him. See you around James.
						cite - Gregorio
				li.face.face4
					.bubble
						p Perfect first lesson! James is very friendly and talks really clear. It's absolutely easy to understand him :)
						cite - Cristina
				li.face.face5
					.bubble
						p He is a very friendly and patient teacher! We practiced speaking english in situation in hospital and restaurant. I learned many useful words in that situation from him. Thank you!
						cite - Jayden
				li.face.face6
					.bubble
						p Live record in a sound recording studio with the english teacher online! Have anyone ever had such experience? Thank you, James!
						cite - Sergey
				li.back-btn.face

		.col-1
			p.home-lead.outdented ...teaching people from all over the world
			a(href="https://www.italki.com/teacher/2830764").home-cta Check out my Italki
