mixin design-img(link, img)
	a(href="#{link}").design-img-link
		img(src="assets/img/design-img/#{img}")

section.design
	.flex.flex--center
		.col-50.flex.flex--center.dribble(data-orig-color="#ea4c89")
			.col-1
				p.home-lead ...Updating Dribble...
				a(href="" data-color="orange").design-img-link
					img(src="assets/img/design-img/post-1.jpg")
				a(href="" data-color="#aeb3b0").design-img-link
					img(src="assets/img/design-img/post-1.jpg")
				a(href="" data-color="#38decc").design-img-link
					img(src="assets/img/design-img/post-1.jpg")
				a(href="" data-color="#d21d16").design-img-link
					img(src="assets/img/design-img/post-1.jpg")
				a(href="" data-color="#890cee").design-img-link
					img(src="assets/img/design-img/post-1.jpg")
				a(href="" data-color="#d6d599").design-img-link
					img(src="assets/img/design-img/post-1.jpg")
				.cf
				a(href="").home-cta See more on Dribble

		.col-50.flex.flex--center.behance(data-orig-color="#1769ff")
			.col-1
				p.home-lead ...and Behance...
				a(href="" data-color="orange").design-img-link
					img(src="assets/img/design-img/post-1.jpg")
				a(href="" data-color="#aeb3b0").design-img-link
					img(src="assets/img/design-img/post-1.jpg")
				a(href="" data-color="#38decc").design-img-link
					img(src="assets/img/design-img/post-1.jpg")
				a(href="" data-color="#d21d16").design-img-link
					img(src="assets/img/design-img/post-1.jpg")
				a(href="" data-color="#890cee").design-img-link
					img(src="assets/img/design-img/post-1.jpg")
				a(href="" data-color="#d6d599").design-img-link
					img(src="assets/img/design-img/post-1.jpg")
				.cf
				a(href="").home-cta See more on Behance
