mixin face
	li.face
		.bubble
			p I think that James is a swell guy!
			cite - Chika Weber

section.mentoring
	.flex.flex--center
		.col-1
			ul.faces
				li.face
					.bubble
						p This is the coolest website!
						cite - 1Chika Weber
				li.face
					.bubble
						p This is the coolest website!
						cite - 2Chika Weber
				li.face
					.bubble
						p This is the coolest website!
						cite - 3Chika Weber
				li.face
					.bubble
						p This is the coolest website!
						cite - 4Chika Weber
				li.face
					.bubble
						p This is the coolest website!
						cite - 5Chika Weber
				li.face
					.bubble
						p This is the coolest website!
						cite - 6Chika Weber
				li.back-btn.face

		.col-1
			p.home-lead.outdented ...teaching people from all over the world
			a(href="").home-cta Send me a mail