section.youtube
	.flex.flex--space-around
		.col-1
			.video-strip
			.flex-video <iframe width="560" height="315" src="https://www.youtube.com/embed/uwg_dEgZNtA?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		.col-1.order-first
			p.home-lead.outdented ...learning how to use youtube and doing stuff on that
			a(href="https://www.youtube.com/channel/UCFqfFEZpo5xoMVfw6tey1hQ/videos?shelf_id=0&sort=dd&view=0").home-cta Watch on Youtube