.home-footer
	a
		color: white
		background: #e24040
		display: block
		width: calc(100%-40px)
		line-height: 5
		text-align: center 
		font-size: 60px
		font-weight: 300
		margin: 20px


		&:hover
			background: darken(#e24040, 8%)

@media(max-width: 820px)
	.home-footer
		a
			font-size: 40px

@media(max-width: 500px)
	.home-footer
		a
			font-size: 20px
