.about
	background:
		image: url(../img/about-bg1.jpg)
		position: right bottom
		size: cover
	height: 400px

	.flexheader
		display: flex
		flex-direction: rows
		
		h2
			color: #3f3f42
			font:
				size: 60px
				weight: 400
			line-height: 1
			padding: 20px 0 0 50px

@media (max-width: 340px)
	.about
		.flexheader
			h2
				font-size: 30px
		

		
		
		

		


